#availability {
    margin-left: 1em;
}

.tableColor {
    background-color: #5E9D9D;
}

.submitBtn {
    background-color: #1A3165;
    /* color: white; */
}

.mdlColor {
    background-color: #2D457D;
}

.mdlHeader {
    background-color: #5E9D9D;
}